#CONF file for stdf_db
stdf_db_config:
{
    site_id = 1;
    # verbose level: 0 - 2
    verbose = 1;
    # validate STDF prior to processing
    validate_stdf = 0;
	max_parts_per_thread = 300;
	max_threads_limit = 100;
    use_threads = 1;
    mysql:
    {
        mysql_server = "localhost";
        mysql_user = "sispara";
        mysql_pass = "sispara123";
        mysql_db = "stdf_db";
    };
    test_rec:
    {
        ignore_passed_ptr = 0;
        ignore_passed_ftr = 0;
        skip_rec_types = ["REC_PLR","REC_DTR"];
        filter_parametric_tests = [
		"CENT_",
		"REMT_",
		"ANALOG_",
		"CONTINUITY"];
	}
};
